{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Metas -->
    <meta charset="utf-8">
    <title>Ekrani i Artit</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Css -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'css/flexslider.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'css/venobox.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'css/fonts.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'css/videobg.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'css/carousel.min.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,700" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">


</head>
<body>
<!-- Preloader -->
<div class="loader">
    <!-- Preloader inner -->
    <div class="loader-inner">
        <svg width="120" height="220" viewBox="0 0 100 100" class="loading-spinner" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <circle class="spinner" cx="50" cy="50" r="21" fill="#111111" stroke-width="1.5"></circle>
        </svg>
    </div>
    <!-- End preloader inner -->
</div>
<!-- End preloader -->
<!--Wrapper-->
<div class="wrapper">
    <!--Hero section-->
    <section class="hero overlay">
        {% block main_slider %}
        {% endblock %}
        <!--Header-->
        <header class="header">
            <!--Container-->
            <div class="container ">
                <!--Row-->
                <div class="row">
                    <div class="col-md-2">
                        <a class="scroll logo" href="{% url website.home %}?lang={{ language }}">
                            {% if website.logo %}
                                <h2>{{ website.title }}</h2>

                                {#                                <img src="{{ website.logo }}" alt="Logo">#}
                            {% elif website.title %}
                                <h2>{{ website.title }}</h2>
                            {% endif %}
                        </a>
                    </div>
                    <div class="col-md-10 text-right">
                        <nav class="main-nav">
                            <div class="toggle-mobile-but">
                                <a href="{% url website.home %}?lang={{ language }}" class="mobile-but">
                                    <div class="lines"></div>
                                </a>
                            </div>
                            <ul>
                                {% for key, value in menus.items %}
                                    {% if key != 'language' %}
                                        {% if value.is_active %}
                                            <li style="color: {{ value.color }}; background: {{ value.background_color }}">
                                                <a class="scroll" href="{% url key %}?lang={{ language }}">{{ value.display_name }}</a></li>
                                        {% else %}
                                            <li onmouseover="this.style.backgroundColor='{{ value.background_color }}'; this.style.color='{{ value.color }}';"
                                                onmouseout="this.style.backgroundColor='';this.style.color='';">
                                                <a class="scroll" href="{% url key %}?lang={{ language }}">{{ value.display_name }}</a></li>
                                        {% endif %}
                                    {% else %}
                                        <li style="color: {{ menu.language.color }}; background: {{ menu.language.color.background_color }}">
                                        <span style="padding: 12px 0;">
                                            <span class="scroll" onclick="changeLanguage('al')" style="cursor: pointer;margin-right: 8px">AL</span> |
                                            <span class="scroll" onclick="changeLanguage('en')" style="cursor: pointer;margin-left: 8px">EN</span>
                                        </span>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>
                </div>
                <!--End row-->
            </div>
            <!--End container-->
        </header>
        <!--End header-->
        {% block inner_hero %}
        {% endblock %}
    </section>
    {% block content %}
    {% endblock %}
    <!--End hero section-->
    {% block content_footer %}
        <footer class="pt-20  bg-dark">
            <section class="subsribe text-center pb-20">
                <!--Container-->
                <div class="container">
                    <!--Row-->
                    <div class="row">
                        <div class="col-sm-12  mb-30">
                            <h1 class="title">{{ website.subscribe_info }}</h1>
                        </div>
                    </div>
                    <!--End row-->
                </div>
                <!--End container-->
                <!--Container-->
                <div class="container ">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                            <form method="post" class="subscribe-form form" action="#">
                                <div class="col-sm-8 p-0">
                                    <input placeholder="{{ website.subscribe_placeholder }}" value="" id="user-name" name="name" type="text" class="br-0">
                                </div>
                                <div class="col-sm-4 p-0">
                                    <input style="background: {{ website.secondary_color }}" value="{{ website.subscribe_button }}" class="but  submit" type="submit">
                                </div>
                                <div class="col-sm-12">
                                    <p>{{ website.do_not_share_your_data }}</p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--End container-->
            </section>
            <div class="bottom-footer bg-black pt-50 pb-50">
                <!--Container-->
                <div class="container ">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <ul class="block-social mt-20">
                                {% if website.facebook %}
                                    <li><a href="{{ website.facebook }}" target="_blank"><i class="icon-facebook"></i></a></li>{% endif %}
                                {% if website.twitter %}
                                    <li><a href="{{ website.twitter }}" target="_blank"><i class="icon-twitter"></i></a></li>{% endif %}
                                {% if website.youtube %}
                                    <li><a href="{{ website.youtube }}" target="_blank"><i class="icon-youtube"></i></a></li>{% endif %}
                                {% if website.instagram %}
                                    <li><a href="{{ website.instagram }}" target="_blank"><i class="icon-instagram-1"></i></a></li>{% endif %}
                                {% if website.tiktok %}
                                    <li><a href="{{ website.tiktok }}" target="_blank">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tiktok" viewBox="0 0 16 16">
                                            <path d="M9 0h1.98c.144.715.54 1.617 1.235 2.512C12.895 3.389 13.797 4 15 4v2c-1.753 0-3.07-.814-4-1.829V11a5 5 0 1 1-5-5v2a3 3 0 1 0 3 3z"/>
                                        </svg>
                                    </a></li> {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
                <!--End container-->
                <!--Container-->
                <div class="container ">
                    <div class="row">
                        <div class="col-md-6">
                            <p> &copy; {{ website.rights_reserved }}</p>
                        </div>
                        <div class="col-md-6 ">
                            <ul class="block-legal">
                                {#                                <li><a href="#">Privacy Policy</a>#}
                                {#                                <li><a href="#">Terms of Use</a></li>#}
                                {#                                <li><a href="#">About</a></li>#}
                                {#                                <li><a href="#">Legal</a></li>#}
                                <li><span><a class="scroll" style="color: {{ website.secondary_color }}" href="#wrapper">Back To Top</a></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--End container-->
            </div>
        </footer>
    {% endblock %}
</div>
<script>
    function changeLanguage(language) {
        let url = window.location.href;
        let newUrl;
        if (url.includes('lang=')) {
            newUrl = url.replace(/lang=[a-zA-Z]+/, 'lang=' + language);
        } else {
            let separator = url.includes('?') ? '&' : '?';
            newUrl = url + separator + 'lang=' + language;
        }
        window.location.href = newUrl
    }
</script>

{% block script_block %}
    <script src="{% static 'js/jquery-1.12.4.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery.flexslider-min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery.countdown.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/smooth-scroll.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/placeholders.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/venobox.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/instafeed.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/script.js' %}" type="text/javascript"></script>
    {#    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbGQXiGt-6UAmOFFdSzYI-byeE7ewBuVM&callback=initializeMap"></script>#}
{% endblock %}
</body>
</html>